html, body {
    margin: 0;
    padding: 0;

}
body {
    /*width: 100%;*/
    background-color: #ffffff;
}

header {
    background-image: url("/images/Rectangle 1.png");
    background-size: cover;
    padding: 52px 0;
}
.head {
    width: 1170px;
    max-width: 1170px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.logo {
    margin: auto;
}
.text1 {
    margin: auto;
    background-color: #ffffff;
    width: 878px;
    padding: 15px 0 19px 0;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: "PT Serif", serif;
    font-weight: bold;
    font-size: 42px;
    color: #a8080c;
    text-align: center;
    line-height: 1.2;
}

.text1 span {
    color: #dba55c;
}

.text2 {
    margin: auto;
    background-color: #dca65c;
    width: 490px;
    padding: 15px 0 18px 0;
    color: #ffffff;
    font-size: 34px;
    font-family: "PT Sans", serif;
    font-weight: bold;
    border-bottom-right-radius: 15px;
    text-align: center;
}

.info {
    display: flex;
    justify-content: space-around;
    margin: 53px auto 49px auto;
    width: 711px;

}

.info p {
    font-size: 24px;
    font-family: "PT Sans";
    color: #a8080c;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    /*margin: 20px 0 0 0;*/
    margin: 0;
}

.button {
    margin: auto;
    background: url("/images/bg.png") no-repeat;
    width: 400px;
    text-align: center;
    padding: 22px 0 29px 0;
}

.button a {
    text-decoration: none;
    color: #ffd991;
    font-family: "PT Serif", serif;
    font-weight: bold;
    font-size: 26px;
}

.bg2 {
    background-image: url("/images/bg2.png");
    background-size: cover;
}

.bg3 {
    background-image: url("/images/bg3.png");
    background-size: cover;
}

.bg4 {
    background-image: url("/images/bg4.png");
    background-size: cover;
}


.foto {
    width: 370px;
    height: 355px;
}

h1 {
    font-size: 32px;
    font-family: "PT Serif", serif;
    color: #a8080c;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0;
}

.about {
    width: 1170px;
    padding: 76px 0;
    max-width: 1170px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.upper_text {
    margin: auto;
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
    color: #000000;
    line-height: 1.375;
    text-align: center;
    width: 652px;
}

.lower_text {
    margin: auto;
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
    color: #000000;
    line-height: 1.375;
    text-align: center;
    width: 605px;
}

.company {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.company > div {
    background-color: #ffffff;
    box-shadow: 0 14px 29px 0 rgba(122, 114, 96, 0.24);
    width: 218px;
    height: 140px;
    margin-bottom: 20px;
    overflow: hidden;
    display: block;
    position: relative;
}

.company div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 30%;
    left: 20%;
    width: 63%;
}

.work {
    width: 1170px;
    max-width: 1170px;
    margin: auto;
    padding: 76px 0 79px 0;
}
.upper_text_work {
    margin: auto;
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
    color: #000000;
    line-height: 1.375;
    text-align: center;
    width: 652px;
}


.treangle {
    position: absolute;
    width: 0;
    height: 0;
    z-index: 1;
    top: 237px;
    left: 16px;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 20px solid #ffffff;
}

.category {
    width: 1170px;
    margin: auto;
    padding: 55px 0 79px 0;
}

.category > div:first-child {
    margin: auto;
}

.category > div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 30px;
}

.image {
    width: 370px;
    height: 355px;
    margin-bottom: 30px;
    position: relative;
}

.foto {
    background-image: url("/images/kitchen.png");
    width: 370px;
    height: 250px;
    border-top-left-radius: 20px;
}

.down h2 {
    font-size: 24px;
    font-family: "PT Serif", serif;
    color: rgb(168, 8, 12);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    margin: 25px 0 auto 30px;
}

.down p {
    color: #b98236;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    text-align: left;
    margin: 0 0 0 30px;
}

.down {
    background-color: #ffffff;
    box-shadow: 0 14px 29px 0 rgba(122, 114, 96, 0.24);
    position: absolute;
    width: 370px;
    height: 101px;
    border-bottom-right-radius: 20px;
}


